@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
/* @media(max-width:380px) Iphone SE & others */ 
/* @media(max-width:415px) Iphone 11 & Iphone XR */ 
@media(max-width:430px) {
    .page {
        background: #0C0C0C;
        color: #fff;
        height: 100vh;
    }

    .container {
        max-width: 325px;
        width: 100%;
        margin: auto;
    }

    nav {
        padding: 20px 0px;
    }

    nav .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-icons {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .accounts-menu {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .accounts-menu .card {
        background: #2B2B2B;
        width: 100%;
        height: 155px;
        max-width: 157px;
        border-radius: 15px;
    }

    .cashaccount {
        padding: 15px;
    }

    .account-title {
        margin: 10px 0px;
        font-size: 13px;
        color: #ffffff95;
    }

    .account-balance {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .addaccount {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .addaccount p {
        font-size: 12px;
    }

    /* Premuim */

    .premium {
        margin-top: 20px;
        width: 100%;
        background: #2B2B2B;
        border-radius: 15px;
        padding: 10px 15px;
    }

    .premium .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .premium-text h2 {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .premium-text p {
        font-size: 11px;
    }

    .getpremium-btn {
        margin-top: 20px;
        width: 100%;
        background: #162331;
        color: #0a84fc;
        border: none;
        padding: 12px 0px;
        border-radius: 5px;
    }

    /* Trend */


    .trend{
        width: 100%;
        background: #2B2B2B;
        height: 255px;
        border-radius: 15px;
        margin-top: 25px;
        padding: 25px;
    }


    /* Bottom Menu */

    .menu {
        position: fixed;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        background: #1f1f1f;
        border-radius: 15px;
        padding: 10px 26px;
    }

    .menu__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .menu__item p {
        font-size: 10px;
    }

}